html {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 800;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    width: 55em;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    padding-left: 2%;
    color: rgb(207, 16, 16);
    font-size: large;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    padding-left: 2%;
    font-weight: 900;
}

.contenair {
    display: flex;
    background-color: rgb(231, 232, 229);
    justify-content: space-around;
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
}

.intro {
    flex-wrap: wrap;
    width: 40%;
    justify-content: center;
    align-self: center;
}

.img {
    width: 40%;
    padding-top: 1em;
}

img {
    width: 430px;
}

.contenair2 {
    display: flex;
    background-color: rgb(231, 232, 229);
    
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
}

.corps {
    padding-left: 1em;
    padding-right: 1em;
}

.list {
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    align-self: center;
    margin: auto;
}

.contenair3 {
    display: flex;
    background-color: rgb(231, 232, 229);
    
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em; 
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 800;
    margin-bottom: 80px;
}
