html {
    width:55em; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lienNav, .lienDecaler {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.42);
    padding-left: 15px;
}

.motCleBloc {
    color: rgb(51, 14, 86);
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-size: 32px;
    font-family: 'Tilt Prism', cursive;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
}


h4 {
    font-size: 16px;
}


.àpropos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: space-between;
}

.texte{
   font-family: Arial, Helvetica, sans-serif;
   margin-top: -3%;
}


.illustration {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 30px;

}

.twitter {
    width: 25px;
}

.medium {
    width: 40px;
}

.arbre {
    width: 200px ;
    height: 200px ;
}

.bouton {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.TWIT {
    padding: 15px 30px 15px 30px;
    background-color: rgb(69, 177, 255);
    display: flex;
    width: 100px;
    height: 15px;
}

.TWIT a {
    color: white;
}

.LINKE {
    padding: 15px 30px 15px 30px;
    background-color: rgb(34, 76, 168);
    display: flex;
    width: 100px;
    height: 15px;
}

.LINKE a {
    color: white;
}

.MED {
    padding: 15px 30px 15px 30px;
    background-color: black;
    display: flex;
    width: 100px;
    height: 15px;
}

.MED a {
    color: white;
}

.basdepage {
    display: flex;
    margin: auto;
}