html {
    width: 55em;
    margin-left: auto;
    margin-right: auto;
}

h1 {

    font-family: 'Abril Fatface', cursive;
}

form {
    font-family: 'Montserrat', sans-serif;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lienNav,
.lienDecaler {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.42);
    padding-left: 20px;
}

.motCleBloc {
    color: rgb(51, 14, 86);
    text-decoration: none;
}

.coordonees {
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: grey;
}

.identification {
    padding: 50px;
}

article {
    color: rgb(255, 255, 255);
    display: flex;
background-size: cover;
<<<<<<< HEAD
background-image: url(img/bureaucontact.jpg);
=======
background-image:   url(img/bureaucontact.jpg) ;
>>>>>>> 511df82be231d6394a2c65c02a2eb8a5f8d85e9a
}

.nom {
    width: 98%;
}

.ligne-deux {
    display: flex;
    justify-content: space-between;

}

.lien-contact{
    color: white;
    text-decoration: none;
    font-weight: bold;

}
.zone-text{
    width: 350px;
    height: 50px;
}






